.course-list {
    padding: .1rem .15rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff
}

.course-list .item {
    float: left;
    width: 32%;
    margin-right: 2%;
    font-size: .12rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.course-list .item a {
    display: block
}

.course-list .item:nth-child(3n), .course-list.row2 .item:nth-child(2n) {
    margin-right: 0
}

.course-list .title {
    margin-top: 6px;
    height: .36rem;
    line-height: 18px;
    color: #666;
    font-size: .14rem;
    overflow: hidden
}

.course-list .lesson {
    margin-top: 8px;
    color: #999
}

.course-list .money-box {
    font-size: .16rem;
    color: #ff7e00
}

.course-list .money {
    font-size: .12rem
}

.course-list .num {
    color: #999
}

.course-list.row2 {
    padding: .1rem
}

.course-list.row2 .item {
    padding: .05rem;
    width: 49%;
    margin: 0 2% 2% 0;
    border: 1px solid transparent
}

.course-list.wider .item {
    width: 100%;
    margin-right: 0
}

.course-list.wider {
    padding: .1rem 0
}

.course-list.wider .item {
    padding: .05rem .15rem;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent
}

.course-list.wider .item img {
    float: left;
    margin-right: 10px;
    width: .9rem;
    height: .9rem
}

.course-list.wider .con {
    height: .9rem;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.course-list.wider .title {
    margin-top: -1px;
    font-size: .15rem
}

.course-list.wider .lesson {
    margin: 12px 0 6px
}

/*!home:static/third_party/index/index.css*/
.index {
}

.fixed-down {
    position: fixed
}

.focus {
    width: 100%;
    font-size: .14rem;
    position: relative
}

.focus-box {
    position: relative;
    width: 100%;
    overflow-x: hidden
}

.focus-box li {
}

.focus img {
    width: 100% !important;
    height: 100% !important;
    vertical-align: top
}

.focus-point {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 0
}

.focus-point a {
    margin: 0 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3)
}

.focus-point .cur {
    background-color: #339c96
}

.index-sort .link {
    float: left;
    display: block;
    width: 50%;
    height: .6rem;
    line-height: .6rem;
    font-size: .18rem;
    color: #666;
    text-align: center;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.index-sort .line {
    border-right: 1px solid #e6e6e6
}

.ico-my-courses, .ico-sort {
    margin-right: 10px;
    width: .36rem;
    height: .38rem;
    background: url(//chuanke.bdimg.com/static/ckyogwapst/home/static/third_party/index/images/ico-my-courses_42ffdf5.png) no-repeat
}

.ico-sort {
    background: url(//chuanke.bdimg.com/static/ckyogwapst/home/static/third_party/index/images/ico-sort_d79532b.png) no-repeat
}

.index-course {
}

.index-course .course-list.wider .title {
    height: auto;
    max-height: .36rem;
    color: #333
}

.index-course .course-list.wider .con {
    position: relative
}

.index-course .course-list.wider .info {
    padding: .06rem 0;
    height: .28rem;
    font-size: .12rem;
    line-height: 14px;
    color: #999
}

.index-course .course-list.wider .overview {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #999
}

.index-btn-view {
    display: block;
    margin: 20px 0 -20px;
    height: .5rem;
    line-height: .5rem;
    color: #fff;
    font-size: .16rem;
    text-align: center;
    background-color: #f63
}

/*!home:widget/tpl/index/search_box/search_box.less*/
.vh-100, .vh-100 body {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.search-pop-mask {
    position: absolute;
    display: none
}

.search-pop {
    position: absolute;
    display: none
}

.search-pop .search-no-history {
    padding-left: .15rem
}

.search-pop.anim-slide {
    overflow: hidden;
    -webkit-transition: height .2s linear;
    transition: height .2s linear
}

.search-pop.v-hide {
    visibility: hidden
}

/*!home:widget/tpl/index/swiper/swiper.less*/
.swiper-container {
    width: 100%
}

.swiper-container .swiper-wrapper > li {
    width: 100%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    min-height: 40px
}

.swiper-container .carousel-img {
    width: 100%;
    height: 100%
}

.swiper-container .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, .3);
    opacity: 1
}

.swiper-container .swiper-pagination-bullet-active {
    background-color: #339c96;
    opacity: 1
}

.swiper-container .swiper-slide {
    height: auto
}